* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@font-face {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.page {
    background-color: rgb(9, 57, 90);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cover {
    background-color: white;
    width: 20em;
    height: 25em;
    position: relative;
    right: 90px;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.55em black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.in {
    display: flex;
    width: 150px;
    height: 30px;

    outline: none;
    border-top: 1px solid gray;
    border: none;
    overflow: hidden;
}

.word {
    color: black;
    position: relative;
    right: 40px;
    top: 20px;
}

.loginbtn {
    width: 170px;
    height: 40px;
    color: rgb(9, 57, 90);
    border-radius: 20px;
    outline: none;
    font-weight: bold;
}

.coverh1 {}

.logo {
    position: relative;
    right: 300px;
    bottom: 300px;
    color: white;
}