.homecontainer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;


}

.features {
    max-width: 1024;
    border: 10px;


    justify-content: space-between;
    gap: 20px;

}

.featureitem img {

    width: 300px;
    height: 300px;
    position: relative;
    object-fit: cover;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 50px;

}

.featuretitles {

    color: black;
    float: right;
    margin-left: 40px;

}

.rate {
    display: flex;
    margin-top: 0px;
    color: rgb(9, 57, 90);
}

.capacity {
    display: flex;
    margin-top:
        10px;
    color: rgb(9, 57, 90);

}

.booking {
    color: white;
    background-color: rgb(9, 57, 90);
    padding: 5px;
    font-weight: bold;
    border: none;
    display: flex;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 50px;
}

.a {
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
    color: rgb(85, 84, 84);

}

.yy {
    font-size: 1em;
    color: rgb(158, 156, 156);

}

.rate {
    margin-top: 20px;
    margin-bottom: 10px;
}



.ee {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(85, 84, 84);
}

.ww {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(85, 84, 84);
    font-weight: bold;
}

.form {
    display: flex;
    width: auto;
    height: auto;
    background-color: lightgray;
    border: 5px solid gray;
    border-radius: 10px;
}

.modalsearchinput {
    border: none;
    margin-left: 10px;
    outline: thin solid gray;
}